body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

img {
    width: 400px;
    height: auto;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    padding: 5px 30px;
    align-self: flex-start;
    border: none;
}

.border-button {
    align-self: center;
    border: 2px solid white;
}

.hero {
    font-weight: 900;
    font-size: 48px;
}

.one,
.five {
    background: #1F2937;
    color: #E5E7EB;
    padding: 0px 15vw;
}

.three {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 30px 20vw;
}

.four {
    background-color: #3882f6;
    margin: 75px 15vw;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    padding: 40px 0px;
}

.four div {
    display: flex;
    flex-direction: column;
}

.call {
    margin: 0;
    color: white;
    font-weight: 300;
}

.call.bold {
    font-weight: 700;
    font-size: 24px;
}

.five {
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header2 {
    display: flex;
    padding: 50px 0px;
    gap: 25px;
}

.header-col {
    display: flex;
    flex-direction: column;
}

.sig {
    margin-block-start: -0.75em;
    align-self: flex-end;
    font-size: 18px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}